/** Add css rules here for your application. */

body {
	margin: 0px;
	padding: 0;
	background: #EBEBEB;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
}

	
/** Weave **/
#weave
{
	height:30px;
	}

#weave #fps
{
float:right;
}

.weavePanel
{
	BACKGROUND:RED;
	border:2px blue solid;
}

div.tabShow, div.tabHide {
   -webkit-transition: height 0.4s ease-in; 
   border: #DCDCD0 1px solid;
   width:100%;  
   
   overflow: scroll;
}

div.tabHide
{
	
	height:0px;	
	position: absolute;
	top:27px;
	background:#eee;
}

div.tabShow
{
	height:225px;
	position: absolute;
	top:27px;
	background:#eee;
}

#menu
{
	background: #F3F1E5;
	width:100%;
	border: #DCDCD0 1px solid;
	border-bottom:none;
	overflow: none;
	
}

div .label{
	
	border-right: #DCDCD0 1px solid;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	float:left;
	
}

.mapJsonTextarea 
{
	width: 100%;
	height: 70px;
}

