/** Add css rules here for your application. */
body {
	margin: 0px;
	padding: 0;
	background: #EBEBEB;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
}

a{
	border:none;
}


/** Absolute positioning fixes the canvas on top of everything bug, look at this later **/
#nameFieldContainer canvas{	
	z-index:-1;
	position: absolute; left: 0px; top: 0px;
}

.boot{
	visibility: hidden;
	background:red;
}

.gwt-TabBar {
	opacity: 0.7;
	background: #EEE;
}

.gwt-TabPanelBottom {
	background: white !important;
	min-height:140px;
}
	
/** Weave **/
.weavePanel canvas{
	border: #666 1px solid;
	margin:6px;
}


/** FWindow **/

.gwt-DialogBox .Caption 
{
	cursor:move !important;	
}

.gwt-DialogBox .postive
{
	 -webkit-transition:background-color 0.5s linear;  
	background: #336600;
}

.gwt-DialogBox .negative
{
	 -webkit-transition:background-color 0.5s linear;  
	background: red;
}


/**FPS**/

.fpsWidget {
background-color: rgba(240, 240, 240, 0.6) !important;
-webkit-box-shadow: 0px 0px 5px rgba(180,180,180,0.7);
padding: 2px;
}
