/** Add css rules here for your application. */



body {
	margin: 0px;
	padding: 0;
	background: #EBEBEB;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
}

/** Absolute positioning fixes the canvas on top of everything bug, look at this later **/
#nameFieldContainer canvas{	
	z-index:-1;
	position: absolute; left: 0px; top: 0px;
}

.gwt-TabPanelBottom {
	background: white !important;
	min-height:140px;
}
	
/** Weave **/
.weavePanel canvas{
	border: #666 1px solid;
	margin:6px;
}


/** FWindow **/

.gwt-DialogBox .Caption 
{
	cursor:move !important;	
}

.gwt-DialogBox .postive
{
	 -webkit-transition:background-color 0.5s linear;  
	background: #336600;
}

.gwt-DialogBox .negative
{
	 -webkit-transition:background-color 0.5s linear;  
	background: red;
}
